html{
    scroll-behavior: smooth;
}
section{
    display:flex;
    width: 430px;
    height: 430px;
    margin-top: 18%;
    border: transparent;
    border-radius: 10px 10px 10px;
    margin-left: -76%;
}
section img{
    width:625px;
    flex-grow: 1;
    object-fit:cover;
    transition: all 1s ease;
    border: transparent;
    border-radius: 10px 10px 10px;
    
}
section img:hover {
    margin-top: -5%;
    cursor:crosshair;
    width: 800px;
    height: 480px;
    opacity: 1;
    filter:contrast(120%);
    
    
}
.div1{
    border:3px  black solid;
    background-image: url(../Imagenes/fondo\ soporte.jpg);
    height: 300px;
    width: 100%;
    position: fixed;
    top:0px;
    z-index: 1;
   
}
#fotologo{
    width: 350px;
    height: 350px;
}
.logo{
    position:absolute;
    margin-left: 45px;
    top:-45px;
    width: 30px;
    height: 300px;
}
.titulo{
    text-align: center;
    font-family: Verdana Tahoma;
    font-size: 70px;  
    position: absolute;
    top:5.3px;
    left:36.5%;
    color: rgb(246, 241, 248);
    position: fixed;
    -webkit-text-stroke: 1px rgb(7, 7, 7);
}
.subtitulo{
    text-align: center;
    color: rgb(189, 160, 0);
    margin:auto;
    margin-top: 9%;
    font-family: Verdana Tahoma;
}
#prendas{
    border:4px solid black;
    color:rgb(255, 255, 255);
    background-color: rgba(162, 0, 255, 0.758);
    position: fixed;
    top: 263px;
    left:13px;
    width: 31.5%;
    height: 3%;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    padding:5px;
    cursor: pointer;
    transition: all 200ms;
    border-radius: 10px 10px 10px;
}
#prendas:hover{
   
    height: 5%;
}
#prendas1{
    border:4px solid black;
    color:rgb(255, 255, 255);
    background-color: rgba(60, 1, 92, 0.758);
    position: fixed;
    top: 263px;
    left:13px;
    width: 31.5%;
    height: 20%;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-between;
    padding:5px;
    cursor: pointer;
    transition: all 200ms;
    border-radius: 10px 10px 10px;
    
}
summary{
    
    position: fixed;
    top:268px;
    left:3%;
}
.desplegable{
    margin-left: 45px;
    position: fixed;
    top:300px;
    left:3%;
    color: rgb(255, 2, 171);
}
  
.promociones{
    border:4px solid black;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    position: fixed;
    top: 263px;
    left:33%;
    width: 33%;
    height: 4%;
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
    border-radius: 10px 10px 10px;
    transition: all 200ms;
}
.promociones:hover{
   
    height: 5%;
}
.soporte{
    border:4px solid black;
    color: rgb(255, 255, 255);
    background-color: rgba(162, 0, 255, 0.758);
    position: fixed;
    top: 263px;
    left:66.2%;
    width: 33%;
    height: 4%;
    text-align: center;
    font-size: 30px;
    font-family: fantasy ;
    border-radius: 10px 10px 10px;
    transition: all 200ms;
}
.soporte:hover{
    
    height: 5%;
}
.cuerposoporte{
    height: 1800px;
    width: 1500px;
    margin-left: 10%;
    margin-top: 20%;
    
}
.acerca{
    color:white;
    font-size: 35px;
    margin-left: 5%;
    margin-top: 5%;
}
h3{
    color:rgb(160, 160, 160);
    text-align: justify;
    font-size: 25px;
    margin-left: 5%;
    margin-top: 5%;
}
.textoh3{
    width: 95%;
    text-align: center;
}
.ubicacion{
    width: 95%;
    height: 800px;
}
.mapa{
    width: 500px;
    height: 600px;
    margin-left: 5%;
    margin-top: 0;
}
.contacto{
    height: 585px;
    width: 750px;
    margin-top:-600px;
    margin-left: 45%;
}
.atentioncliente{
    color:white;
    margin-top:50px;
    margin-left: 5%;
}
.atentionclienteduda{
    color:white;
    margin-top:10px;
    margin-left: 5%;
}
#comentarios{
    background-color: rgb(199, 199, 199);
    height: 180px;
    width: 650px;
    margin-left: 40px;
}
body{
    z-index: 0;
    background-image: url(../Imagenes/estrellas.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background: fixed url(../Imagenes/estrellas.jpg);
    
  
   
}

footer{
    color: aliceblue;
    margin-top: 10%;
}
#linksoporte{
    color: rgb(247, 187, 237);

}

#tituloCamisetas{
    margin-top: 30%;
    color: white;
    margin: auto;
}
#tituloPromociones{
    text-align: center;
    margin-top: 1%;
    border: transparent;
    border-radius: 20px 20px 20px;
    color: aliceblue;
    font-size: 70px;
    
}

.imagenesPromocion{
    margin-top: 40%;
    width: 300px;
    height: 200px;

}
.foto{
    width: 400px;
    height: 300px;
    box-shadow: 0px 0px 25px black;
    border-radius: 20px 20px 20px;
     
}
.foto:hover{
    box-shadow: 0px 0px 25px;
}
.imagenesCamisetas{
    border-radius: 20px 20px 20px;
    width: 400px;
    height: 550px;
    color: aliceblue;
    border: 1PX solid rgb(255, 255, 255);
    margin-left: 9%;
    display: inline-block;
    margin-top: 5%;
    background-color: rgb(85, 31, 136);
    
}



a{
    color: rgb(215, 200, 230);
    text-decoration: none;
}
.titulilloCamisetas{
    font-size: 30px;
    
}
#total{
    color: white;
    float: right;
    margin-right: 2%;
    font-family:  'Arial Narrow Bold';
    font-size: 30px;
}
.boton{
    
    display: flex;
    border: 1px solid black;
    width: 75px;
    height: 45px;
    background-image: url(../Imagenes/carro.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    gap: .100rem;
    flex-direction: column;
    box-shadow:  5px 5px 10px black;
    border-radius: 20px 20px 20px;
    transition: all .1s;
    margin-left: 40%;
    cursor:pointer;
}

.boton:active{
    width: 70px;
    height: 40px;
    margin-bottom: 16px;
    box-shadow:  0px 0px 20px black;
}

#enviar{
    margin-left: 40%;
    margin-top: 1%;
    width: 55px;
    height: 20px;
    text-align: center;
}
#enviar:hover{
    width: 65px;
    height: 30px;
    margin-bottom: 16px;
    box-shadow:  0px 0px 20px black;
    background-color: rgb(201, 143, 255);
    color:whitesmoke;
    
}

#maincamisetas{
    margin-top: 20%;
}
